.body{
    padding-top: 70px;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 8px;
    padding: 1rem;
    background-color: aquamarine;
    margin-bottom: 80px;
 }
  
.body h2{
    justify-items: center;
    font-size: 1.8rem;
}
form{
    margin-bottom: 80px;
    width: 100%;
    display: flex;
    gap: 1rem;
    text-align: left;
}
  
.form-group{
    display: block;
}
  
.form-group label{
    padding: 0.5rem;
    font-size: 1rem;
}
.search{
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
}